<!-- @format -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recruiter login page</title>
    <link rel="stylesheet" href='{% static "styles.css" %}' />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="flex items-center justify-center bg-[#191a1c] h-[100vh]"
  >
    <div
      class="main bg-black flex h-[90vh] w-[70vw] bg-[#0c0c0c] rounded-[16px]"
    >
      <div class="left" style="width: 60%">
        <form class="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <!-- CSRF token for security -->

          <div
            class="form-container text-white flex flex-col gap-4 py-[120px] px-[160px]"
          >
            <div>
              <p class="text-center">Welcome to JobsHub</p>
              <p>Enter your credentials to access your Account</p>
            </div>

           <a href="/recruiter/register"><button class="bg-blue-500 w-full rounded-md p-2" type="button">
              Create Your Account
            </button>
          </a>

            <div class="or flex gap-4">
              <hr class="w-[40%] h-[2px] self-center" />
              <p class=''>OR</p>
              <hr class="w-[40%] h-[2px] self-center" />
            </div>

            <div class="inputBox form-group">
              <input
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                class="form-control bg-[#191a1c] mb-[16px] border-none text-[#7d7c7c] w-full p-2 rounded-md"
                name="username"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter username"
                required
              />
              <input
                type="password"
                class="form-control bg-[#191a1c] mb-[16px] border-none text-[#7d7c7c] w-full p-2 rounded-md"
                id="exampleInputPassword1"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Password"
                name="password"
                required
              />
              <p class="text-center text-xs mb-[16px]">
                forget password
              </p>
              <button
              class="bg-blue-500 w-full rounded-md p-2" type="submit"
              >
                Log In
              </button>
            </div>

            <!-- Display error/success messages -->
            {% if messages %}
            <div class="p-4 bg-white text-red-500" role="alert">
              {% for message in messages %} {{ message }} {% endfor %}
            </div>
            {% endif %}
          </div>
        </form>
      </div>

      <div class="right w-[40%]">
        <img
          src='{% static "/images/img2.png" %}'
          alt="sm"
          class="h-[90vh] w-[28vw] rounded-r-[18px]"
        />
      </div>
    </div>
  </body>
</html>
