<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <h1>Job Posts</h1>

        {% comment %} {% for item in jobApplications %} {% endcomment %}
            <li>
                {% csrf_token %}
                <form method="POST">
                {% csrf_token %}
                <div style="border:2px solid black;padding:4px">
                    <strong>Jobpost Id:</strong> {{ item.JobpostId }}<br>
                    <strong>Applicant:</strong> {{ item.UserApplied }}<br>
                   
                </form>

                </div>
            </li>
        {% comment %} {% endfor %} {% endcomment %}
    {% endblock content %}</body>
</html>