<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Recruitment Dashboard</title>
    
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="/{{user.username}}/job_list/">Jobs</a></li>
            {% comment %} <li><a href="/application_list">Applicants</a></li> {% endcomment %}
            <li><a href="/create_job/">Create Job Post<a></li>
            <li><a href="/recruiter/logout/">Log out<a></li>

        </ul>
    </nav>
    <div class="container">
        {% block content %}
          
        {% endblock content %}
    </div>
</body>
</html>
