{% extends "dashboard.html" %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Job list page</title>
    </head>
    <body>
    {% block content %}
    <h1>Job Posts</h1>
        {% for jobpost in jobposts %}
            <li>
                <strong>Title:</strong> {{ jobpost.title }}<br>
                <strong>Description:</strong> {{ jobpost.jobDescription }}<br>
                <strong>Type:</strong> {{ jobpost.jobtype }}<br>
                <strong>Location:</strong> {{ jobpost.location }}<br>
                <strong>Date:</strong> {{ jobpost.pub_date }}
            </li>
        {% endfor %}
    {% endblock content %}
    
</body>
</html>