{% extends "user_dashboard.html" %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Job list page</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class=''>
    {% block content %}
    <h1>Job Posts</h1>

        {% for jobpost in jobposts %}
            <li>
                {% csrf_token %}
                <form method="POST">
                {% csrf_token %}
                <div style="border:2px solid black;padding:4px">
                    <strong>Title:</strong> {{ jobpost.title }}<br>
                    <strong>Description:</strong> {{ jobpost.jobDescription }}<br>
                    <strong>Requirement:</strong> {{ jobpost.jobRequirement }}<br>
                    <strong>Salary:</strong> {{ jobpost.salary }}<br>
                    <strong>Type:</strong> {{ jobpost.jobtype }}<br>
                    <strong>Location:</strong> {{ jobpost.location }}<br>
                    <strong>Date:</strong> {{ jobpost.pub_date }}
                    
                    <input type="hidden" id="JobpostId" name="JobpostId" value={{jobpost.id}}>
                    <input type="submit" value="Apply">

                </form>

                </div>
            </li>
        {% endfor %}
    {% endblock content %}
    
</body>
</html>